# .coveragerc to control coverage.py
[run]
branch = True
source = .
include = *.py
omit =
    */tests.py
    *_test.py
    *_tests.py
    */site-packages/*
    */env/*
    */migrations/*
    */fleeg/*
    manage.py
