language: python

python:
  - 3.6

install:
  - pip install codecov
  - pip install -r devRequirements

before_script:
  - flake8 .

script:
  - coverage run manage.py test
  - coverage report

after_success:
  - codecov

notifications:
  email: false
  pushover:
    webhooks: https://fleeg.rocket.chat/hooks/6fTG3EgvwyELD8WWE/NfMNWCuyh2YbTbSZKu25pDAAMsBxmCmPQAEYPbA3JWYMdtGx
