{% load staticfiles %}
{% if post.comments.count %}
<div style="font-size: 11px; color: #666; padding: 2px 7px;">{{  post.comments.count }} Comments</div>
{% endif %}
{% for comment in post.comments.all %}
<div style="font-size: 12px; color: #222; padding: 2px 7px;">
    <div class="fimage-publisher" style="width: 30px;">
        <img src="{{ comment.owner.user_avatar }}" class="img-circle fimg-circle-small" />
    </div>
    <div style="margin: 0; display: inline-block">
        <a href="{% url 'profile' username=comment.owner.user.username %}" style="color: #222">
            <strong>{{ comment.owner.user.first_name }} {{ comment.owner.user.last_name }}</strong>
        </a>
        <span style="font-size:11px; color:#666;">{{ comment.created_at|timesince }} ago</span>
    </div>
    <div style="margin: -5px 0 0 34px;">{{ comment.text}}</div>
</div>
{% endfor %}
<form method="POST" action="{% url 'link_comment' post_id=post.id %}?next={{ request.path }}" style="font-size: 12px; padding: 5px">
    {% csrf_token %}
    <input type="input" name="text" placeholder="Write a comment..." maxlength="500"
           style="width: 375px; padding: 2px"/>
    <button class="btn btn-default" style="font-size: 11px; padding: 4px;">Comment</button>
</form>
