{% if form.errors %}
    <div class="alert alert-warning" style="color:#222;">
        <strong>Add link failed.</strong> This link can not be read.
    </div>
{% endif %}
<div class="fpublished-item">
    <form id="text-link-form" method="POST" action="{% url 'link_new' %}">
        {% csrf_token %}
        <textarea class="form-control item" name="url" style="border-radius:0;resize:none;"
                  rows="2" placeholder="Your link here." id="text-link-add">{{ form.url.value }}</textarea>
        <div class="fspace-item">
            <input type="submit" class="btn btn-primary right" style="background-color: #468847; border-color: #398439;"
                id="id-send-link" value="Post Link"/>
        </div>
    </form>
</div>