<form id="form-search" action="{% url 'search' %}">
    <div class="col-lg-5" style="margin-top:10px;">
        <div class="input-group">
            <input type="text" class="form-control flogin-input" name="q" value="{{ search.query_value }}" required="required"
                 id="input-search" placeholder="What are you searching? [ Advance Search user:john, title:smart link or tag:idea ]">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"
                       style="padding:5.5px 30px; background-color:#468847; border-color: #398439;">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-lg-2" style="margin-top:15px;">
        <input type="checkbox" name="anonymous" value="1">
        <div style="display: inline; font-size: 12px; margin-top: -5px;"> Anonymous Search</div>
    </div>
</form>
