{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
        <!-- scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body style="margin-right:0;">
	<!-- HEADER -->
	<div class="nav-reaction">
		<div class="navbar navbar-default navbar-static-top fnav">
		  <div class="container">
			<div class="navbar-header">
				<a class="navbar-brand flogo" style="color:#222222;max-width:135px; padding-top:5px;" href="{% url 'index' %}">
					<span class="flogo-icon"></span>Fleeg
				</a>
			</div>
			<div class="navbar-collapse collapse">
			  <ul class="nav navbar-nav navbar-right">
					<li class="dropdown fsign {% if form %}open{% endif %}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-weight:900;">SIGN IN</a>
						<ul class="dropdown-menu flogin">
							<li>
								{% include 'account/login.html' %}
							</li>
						</ul>	
					</li>
			  </ul>
			</div>
		  </div>
		</div>
	</div>
    {% block content %}{% endblock %}
	<!-- FOOTER -->		
	<footer>
		<div class="container">
			<hr class="ffooter">
			<p class="pull-right">
				<a href="https://raw.githubusercontent.com/Fleeg/fleeg-terms-policy/master/privacy-policy.txt"
                   target="_blank" title="Privacy Policy" style="color: #222">Privacy Policy</a> ·
				<a href="https://raw.githubusercontent.com/Fleeg/fleeg-terms-policy/master/terms-of-service.txt"
                   target="_blank" title="Terms of Use" style="color: #222">Terms of Use</a>
			</p>
			<p>© {% now 'Y' %} Fleeg, FOSS.</p>
		</div>
	</footer>
  </body>
</html>
