{% extends "internal-layout.html" %}
{% block title %}Fleeg | {{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block content %}
<!-- SIDE MENU -->
<menu>
    <ul>
        <li><a href="{% url 'profile' username=user.username %}">Profile</a></li>
        <li><a href="{% url 'followers' username=user.username %}">Followers</a></li>
        <li><a href="{% url 'following' username=user.username %}">Following</a></li>
    </ul>
</menu>
<!-- CONTENT -->
<div class="container fhome-wall" style="margin-top:70px;">
    {% include 'link/link_new.html' %}
    <strong style="font-size:25px;color:#444">Feed</strong>
    <hr class="fmenu-profile-line" />
</div>

<div class="container fhome-wall" id="wall" style="padding: 0 50px;">
    {% include 'link/wall.html' %}
</div>
{% endblock %}