{% extends 'external-layout.html' %}
{% load staticfiles %}
{% block title %}Welcome to Fleeg{% endblock %}
{% block content %}
    <!-- CONTENT -->
    <div style="background-color:#222;margin-top: -20px; padding: 30px; color: #fff">
        <div class="container" style="margin-top:50px; margin-bottom:50px;">
            <div class="col-lg-6" style="text-align: center;"></div>
            <div class="col-lg-6" style="margin-top: 100px;">
                <h1 style="font-size: 50px;">Welcome to <strong>Fleeg</strong></h1>
                <h4>Find, Save and Share links.</h4>
                <a href="#signup" data-toggle="modal" class="btn btn-primary btn-large"
                   style="font-size:30px;font-weight:600;margin-top:20px;background-color:#222;border-color:#468847;"> Sign up now ! </a>
            </div>
        </div>
    </div>
    {% include 'account/signup.html' %}
{% endblock %}
