{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
        <!-- scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
  </head>
  <body style="margin-right:0;">
	<!-- HEADER -->
    <div class="nav-reaction" style="border-top:0">
		<div class="navbar navbar-default navbar-fixed-top fnav">
            <div class="navbar-header" style="width:220px; margin: 5px 10px;">
                <a class="navbar-brand flogo" style="color:#222222;max-width:135px;padding-top:15px;font-size:40px;" href="{% url 'home' %}">
					<span class="flogo-icon-inline"></span>Fleeg
				</a>
            </div>
            {% include 'search/search-bar.html' %}
            <div class="col-lg-2" style="margin: 10px; float:right;">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="{% url 'notifications' %}" style="color:#222;padding:0;font-size:25px;margin-right:20px;">
                            <span class="glyphicon glyphicon-bell"></span>
                            <div class="falert-number-bg">
                            {% if notify_count %}
                                <div class="falert-number" id="notification-count">{{ notify_count }}</div>
                            {% endif %}
                            </div>
                        </a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:0;">
                          <img src="{{ request.session.user_avatar }}" style="width:30px; border: 1px solid #ccc;"/>
                          <strong style="color:#222;margin-right:20px;">{{ user.first_name }} {{ user.last_name }}</strong>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'profile' username=user.username %}">Profile</a></li>
                        <li><a href="{% url 'account_settings' %}">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'account_logout' %}">Sign out</a></li>
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
	<!-- FOOTER -->
	<footer>
		<div class="container">
			<hr class="ffooter">
			<p class="pull-right">© {% now 'Y' %} Fleeg, FOSS.</p>
		</div>
	</footer>
  </body>
</html>
