{% extends user.is_authenticated|yesno:"internal-layout.html,external-layout.html" %}
{% block title %}Fleeg | {{ profile.first_name }} {{ profile.last_name }}{% endblock %}
{% block content %}
<!-- CONTENT -->
{% if user.is_authenticated %}
<div style="display:block; margin-top:70px;"></div>
{% endif %}

{% include 'account/profile-user.html' %}

<div class="container fprofile-wall">
    <ul class="nav nav-pills fmenu-profile">
        <li id="links-menu" {% if links %}class="active"{% endif %}>
            <a href="{% url 'links' profile.username %}">+ Links</a>
        </li>
        <li id="followers-menu" {% if followers %}class="active"{% endif %}>
            <a href="{% url 'followers' profile.username %}">Followers</a>
        </li>
        <li id="following-menu" {% if following %}class="active"{% endif %}>
            <a href="{% url 'following' profile.username %}">Following</a>
        </li>
    </ul>
    <hr class="fmenu-profile-line" />
</div>

<div id="profile-content">
    <div class="container fprofile-wall" id="wall">
        {% block profile-wall %}{% endblock %}
    </div>
</div>
{% endblock %}
