<!-- SIDE MENU -->
<menu>
    <ul>
        <li><a href="{% url 'profile' username=user.username %}">Profile</a></li>
        <li><a href="{% url 'followers' username=user.username %}">Followers</a></li>
        <li><a href="{% url 'following' username=user.username %}">Following</a></li>
        <li>
            <a href="{% url 'notifications' %}">Notifications
                {% if notify_count %}
                <div style="display: inline; background-color: #FFF; color:#222; border-radius: 2px;padding: 0 4px; ">
                        <span id="notification-count">{{ notify_count }}</span>
                </div>
                {% endif %}
            </a>
        </li>
    </ul>
</menu>
