{% extends "internal-layout.html" %}
{% block title %}Fleeg | {{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block content %}
    {% include 'side-menu.html' %}
    <!-- CONTENT -->
    <div class="container fhome-wall" style="margin-top:70px;">
        <h2>Settings</h2>
        {% if formSignUp.errors %}
            <div id="fsignup-alert" class="alert alert-warning" style="color:#222;">
                <strong>Sing up failed.</strong> Verify information and try again.
            {{ formSignUp.errors }}
            </div>
        {% elif formSignUp %}
            <div id="fsignup-success" class="alert alert-success" style="color:#222;">
                <strong>Account is done.</strong>You can login right now.</div>
        {% endif %}
        <form id="signup-form" accept-charset="UTF-8" method="POST" action="{% url 'account_settings' %}">
            {% csrf_token %}
            <div class="form-group" style="border-top: 1px solid #CCCCCC; padding: 10px 0; font-size: 14px;">
                <strong>Username</strong> @{{ settings.user.username }}
                <strong>E-mail</strong> {{ settings.user.email }}
            </div>

            <input type="text" name="first_name" id="firstName" value="{{ formSignUp.first_name.value }}"
                   placeholder="First Name" class="form-control fsignup-input" style="width:48%; float:left;" required>
            <input type="text" name="last_name" id="lastName" value="{{ formSignUp.last_name.value }}"
                   placeholder="Last Name" class="form-control fsignup-input" style="width:48%; display:inline-block; margin-left:4%;" required>

            <input type="password" name="password" id="password-signup"
                   placeholder="Password" class="form-control fsignup-input" style="width:48%; float:left;" required>
            <input type="confirmation" name="confirmation" id="password-signup"
                   placeholder="Password" class="form-control fsignup-input" style="width:48%; display:inline-block; margin-left:4%;" required>

            <input type="submit" value="Update" class="btn btn-success btn-block fsignup-input">
        </form>
    </div>
{% endblock %}
