<style>
    menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 220px;
        height: 100%;
        padding: 60px 0 0;
        background: #222;
        margin:0;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    menu li a {
        display: block;
        border-bottom: 1px solid rgba(255,255,255,.3);
        margin: 0 10px;
        padding: 10px;
        color: #FFF;
        text-decoration: none;
    }

    menu li a:hover {
        background: #FFF;
        color: #222;
        text-decoration: none;
    }

    .fwall-content {
        margin: 0;
        width: 100%;
    }
</style>
<menu>
    <ul>
        <li><a href="{% url 'home' %}">Feed</a></li>
        <li><a href="{% url 'profile' username=user.username %}">Profile</a></li>
        <li><a href="#">My Links</a></li>
        <li><a href="#">Added Links</a></li>
        <li><a href="#">Followers(200)</a></li>
        <li><a href="#">Following(250)</a></li>
        <li><a href="#">Search</a></li>
    </ul>
</menu>
