{% extends user.is_authenticated|yesno:"internal-layout.html,external-layout.html" %}
{% load staticfiles %}
{% block title %}Fleeg | Error{% endblock %}
{% block content %}
<!-- CONTENT -->
{% if user.is_authenticated %}
<div style="display:block; margin-top:70px;"></div>
{% endif %}
<div class="container" style="padding:100px;">
<div class="col-lg-7" style="margin-top:80px;">
<h1><strong>{{ code }}</strong> - {{ message }}.</h1>
<p><a href="{%  url 'index' %}">go to home</a></p>
</div>
<div class="col-lg-5">
<img src="{% static 'img/error.png' %}" />
</div>
</div>
{% endblock %}
